## TODO: new config syntax

#<hash>: hash a file for integrity varification

files {
    hash?:<bool> # omittable, false by default
    /home/c0d_0x/workspace/test.c
    hash:<bool>
    /home/c0d_0x/workspace/test1.c

}

dir {
# for directories
    level: <int>
    /home/c0d_0x/.local/share/cruxpass/
    level: <int>
    /home/c0d_0x/.local/share/nvim/
}


/home/c0d_0x/.local/share/cruxpass/ ## not allowed

mount {
# for mount points
    /run/media/mount_point

}
